/* AboutUs.css */

/* ตั้งค่าหลักของ container */
.aboutus-container {
    display: flex;
    flex-direction: column; /* จัดให้เนื้อหาทั้งหมดอยู่ในแนวตั้ง */
    justify-content: flex-start;
    align-items: center; /* จัดให้อยู่กลาง */
    padding-top: 2rem;
    background-color: #1a1a1a;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  /* Container หลักของเนื้อหา */
  .aboutus-content {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    background-color: #474747;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; /* เพิ่มระยะห่างจาก container ใหม่ */
  }
  
  /* หัวข้อของ About Us */
  .aboutus-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #d69e2e;
    margin-bottom: 1.5rem;
  }
  
  /* รายละเอียดของ About Us */
  .aboutus-description {
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.6;
  }

  .aboutus-description:hover {
    color: #d69e2e;
    cursor: pointer;
  }
  
  
  /* ตั้งค่าหมวดหมู่ของ Mission */
  .mission-container {
    max-width: 1000px;
    width: 100%;
    background-color: #474747;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* หัวข้อของ Mission */
  .mission-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #d69e2e;
    margin-bottom: 1.5rem;
  }
  
  /* รายละเอียดของ Mission */
  .mission-description {
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.6;
  }

  .mission-description:hover {
    color: #d69e2e;
    cursor: pointer;
  }
  